[Unit]
Description=Pervigil Discord Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/config/scripts
EnvironmentFile=/config/scripts/.env
ExecStart=/config/scripts/pervigil-bot
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
