[Unit]
Description=Pervigil NIC/Log Monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/config/pervigil
ExecStart=/config/pervigil/pervigil-monitor
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
